  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;700&display=swap');

/*  ----- Reset ------ */

* {
    box-sizing: border-box;
}
html {
    font-family: 'Montserrat', sans-serif;
}
body {
    margin: 0;
}

h1, p {
    margin-top: 0;
    margin-bottom: 0;
}
button {
    font-family: inherit;
    cursor: pointer;
}